<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Teatral Apodío</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../assets/img/logo.png" />

    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/logo.css">
    <link rel="stylesheet" type="text/css" href="/sobre/css/conteudo.css">
    <link rel="stylesheet" type="text/css" href="../css/rodape.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="cabecalho" id="cabecalho">
        <Logo image='../assets/img/logo-apodio.png'></Logo>
        <Wrapmenu></Wrapmenu>
    </div>
    <div class="conteudo">
        <div id="sobre" class="sobre">
            <h2 class="sobre sobre-titulo">O Grupo</h2>
            <p class="sobre sobre-texto">
                O grupo Apodío teve início na Oficina de Teatro Vocacional – Formação e
                Manutenção de Grupos em Coletivos em junho de 2016, na praça CEU J. Murilo no bairro
                Alto Maron, periferia de Vitória da Conquista.
                O primeiro trabalho do grupo foi o espetáculo
                Silêncio (autoacusação), texto do austríaco Peter
                Hendke famoso por suas peças faladas, o espetáculo
                dialogava profundamente com elementos
                performáticos e trazia uma proposta de interação com
                o momento presente tanto pelo público quanto pelos
                atores transformando o espetáculo em testemunho de
                nós mesmos.
                Espetáculo Silêncio (autoacusação)

                Na base do teatro, o grupo Apodío vem desenvolvendo as técnicas de Teatro do
                Oprimido de Augusto Boal e namorando profundamente com a performance artística
                tendo apresentado as performances Apolo e Dionísio no 2o Conquista Ruas: Festival de
                Artes Performativas.
            </p>
        </div>
        <h2 class=membros-titulo>Membros</h2>
        <div class="membros" id="app">
            <div class="membro" v-for='membro in membros'>
                <a :href='membro.insta' target="_blank">
                    <img class="membro-foto" :src='membro.avatar'></img>
                </a>
                <div class="info">
                    <h3 class="info-nome">{{membro.nome}}</h3>
                    <ul class="info-funcao">
                        <li v-for='funcao in membro.funcoes'>{{funcao}}</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>
    <div id="rodape" class="rodape">
        <Rodape></Rodape>
    </div>
    <script src="../js/rodape.js"></script>
    <script src="../js/membros.js"></script>
    <script src="../js/cabecalho.js"></script>
</body>

</html>