.barra-de-pesquisa {
    border: 1px solid #686666;
    border-radius: 5px;
    width: fit-content;
}

#campo {
    border: 1px solid black;
    background: transparent;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#lupa {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.fa-search {
    color: #686666;
}