<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="playlist in playlists">
            <h3>{{playlist.nome}}</h3>
            <div  v-for="video in playlist.videos">
                <div class="imagem" :style="video.thumb">
                    <a :href="video.video"></a>
                </div>
            </div>

        </div>
       
    </div>
    <script>
        Vue.component ( 'App', {
            template: ``
    
        })
        let app = new Vue({
            el: "#app",
            data: {
                playlists: [
                    {
                        nome: 'Com(versas sobre Teatro)',
                        videos: [
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/MNvjaHJxcXY/hqdefault.jpg)",
                                video: "https://youtu.be/MNvjaHJxcXY"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/MOkYOOWSibA/hqdefault.jpg)",
                                video: "https://www.youtube.com/watch?v=MOkYOOWSibA"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/ZIIAfIPzMck/hqdefault.jpg)",
                                video: "https://www.youtube.com/watch?v=ZIIAfIPzMck"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/NIn1930G5OI/hqdefault.jpg)",
                                video: "https://www.youtube.com/watch?v=NIn1930G5OI"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/cYv8E1vi-zc/hqdefault.jpg)",
                                video: "https://www.youtube.com/watch?v=cYv8E1vi-zc"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/JDAgDImqv8I/hqdefault.jpg)",
                                video: "https://www.youtube.com/watch?v=JDAgDImqv8I"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/S3CeNMe4rrc/hqdefault.jpg)",
                                video: "https://www.youtube.com/watch?v=S3CeNMe4rrc"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/T69lTJQx1Cs/hqdefault.jpg)",
                                video: "https://www.youtube.com/watch?v=T69lTJQx1Cs"
                            }
                        ]
                    },
                    {
                        nome: 'Performances',
                        videos: [
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/GI_H3Mcw4D4/hqdefault.jpg)",
                                video: "https://youtu.be/GI_H3Mcw4D4"
                            },
                            {
                                thumb: "background-image: url(http://i3.ytimg.com/vi/KVLu52ebSPQ/hqdefault.jpg)",
                                video: "https://youtu.be/KVLu52ebSPQ"
                            }
                            
                        ]
                    }
                ]

            }
            
        })
    </script>
</body>
</html>